<app-navbar [pageName]="'Programme view'"></app-navbar>
<div style="text-align: center;" >
    <p class="textContent">
        Check availability for {{title}} 
    </p>
    <div>
        <input class="searchInput" type="text" placeholder="Search" [(ngModel)]="searchElement" aria-label="Search">
    </div>
    Search
</div>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                Room No.
            </ion-label>
            <ion-label>
                Max participants
            </ion-label>
            <ion-label>
                Start
            </ion-label>
            <ion-label>
                End
            </ion-label>
            <ion-label>
                Action
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let programme of programmes| filter: searchElement
        | paginate: {itemsPerPage: pageNumber, currentPage: currentPg}">
            <ion-label>
               Room {{programme.rooms[0].roomNumber}}
            </ion-label>
            <ion-label>
                {{programme.max_participants}}
            </ion-label>
            <ion-label>
                {{programme.start_date | date: 'dd.MM.yyyy H:mm'}}
            </ion-label>
            
            <ion-label>
                {{programme.end_date | date: 'dd.MM.yyyy H:mm'}}
            </ion-label>
            <ion-label>
                <ion-button onclick="bookThis(programme)">Book this</ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="paginate">
        <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
        <div style="padding-top: 12px;">
            <small style="color: black;"># of items per page</small>
            <button class="buttonItems" (click)="dec()"><ion-icon name="remove-circle-outline"></ion-icon></button> 
            <input class="input" [value]="pageNumber" style="width: 30px;">
            <button class="buttonItems" (click)="inc()"><ion-icon name="add-circle-outline"></ion-icon></button>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-button expand="block" [routerLink]="['/rents']" routerLinkActive="router-link-active" >Go back</ion-button>
</ion-footer>


