// app-login{
//     .toolbar-background{
//         background-color: orange;
//         color:black;
//     }
// }

.loginItems{
    // max-width: 50%;
    // min-width: 400px;
    margin-left: 30%;
    margin-right: 30%;;
}
.loginText{
    margin-bottom: -100px;
}