<ion-menu side="start" menuId="main" contentId="content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>MyPlace Health Center</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item>Rooms</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item>Log out</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>